.container {
  font-family: "arima madurai";
  display: block;
  margin: 0 auto;
  width: 500px;
  position: relative;
  border-radius: 50px;

  background-size: 500px;
}

h1 {
  text-shadow: 0px 0px 7px rgba(0, 118, 133, 0.5);
  color: #007685;
  text-align: center;
  font-family: "arima madurai";
  font-weight: bolder;
  display: block;
}

h2 {
  color: #00454e;
  text-align: center;
  font-size: 20px;
  font-family: "arima madurai";
}

label {
  text-shadow: 0px 0px 7px rgba(0, 118, 133, 0.5);
  color: #007685;
  font-family: "arima madurai";
  font-weight: bolder;
}

.city {
  border: 1px solid rgba(0, 118, 133, 0.9);
  border-radius: 5px;
  margin: 0px;
  color: #007685;
  font-family: "arima madurai";
  font-weight: bolder;
  outline: none;
}
.button {
  border: 1px solid rgba(0, 118, 133, 0.9);
  border-radius: 15px;
  color: #007685;
  font-family: "arima madurai";
  font-weight: bolder;
  border-width: 1px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.searchButton {
  border: 1px solid rgba(0, 118, 133, 0.9);
  border-radius: 15px;
  margin: 0px;
}

.card {
  box-shadow: 1px 2px 35px 15px rgba(0, 118, 133, 0.2);
}
.card-title {
  background-color: rgba(254, 252, 255, 0);
  font-family: "arima madurai";
  font-weight: 950;
  text-align: center;
  color: rgba(0, 118, 133);
}

.box-info {
  background: rgba(254, 252, 255, 0);
}

.card-text {
  font-family: "arima madurai";
  text-align: center;
  text-transform: capitalize;
}

.text-muted {
  text-align: center;
}

.description {
  color: #00454e;
  text-align: left;
  font-size: 15px;
  font-family: "arima madurai";
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.units {
  color: #007685;
  font-size: 20px;
  font-family: "arima madurai";
  text-decoration: none;
}
